.header__lang-link{
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color:white;
    padding-left: 18px;
    text-decoration: underline;
    transition: opacity 0.4s ease;
}

@media (max-width : 767px) {
    .header__lang-link{
        font-size: calc( (100vw - 320px)/(767 - 321) * (24 - 18) + 18px);
        line-height: calc( (100vw - 320px)/(767 - 321) * (28 - 24) + 24px);
    }
}

@media (max-width : 320px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 24px;
    }
}


.header__lang-link:hover{
    opacity: 0.8;
}

.header__lang-link:nth-of-type(2) {
    text-decoration: none;
}