.cover__subtitle{
    margin: auto;
    margin-top: 32px;
    max-width: 360px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media (max-width : 767px) {
    .cover__subtitle{
        margin-top: calc( (100vw - 320px)/(767 - 320) * (32 - 16) + 16px);
        font-size: calc( (100vw - 320px)/(767 - 320) * (18 - 14) + 14px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (22 - 16) + 16px);
}
}