.body {
    background-color: #2A2C2F;
    
    min-width: 100%;
    min-height: 100vh;
}

.root{
    max-width: 1280px;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    margin: auto;

}

.header{
    margin:28px 48px 0px 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (max-width : 1024px) {
    .header{
        margin-right: calc( (100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
        margin-left: calc( (100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
    }
}


@media (max-width : 767px) {
    .header{
        margin-top: calc( (100vw - 321px)/(767 - 321) * (24 - 16) + 16px);
        margin-right: calc( (100vw - 321px)/(767 - 321) * (24 - 16) + 16px);
        margin-left: calc( (100vw - 321px)/(767 - 321) * (24 - 16) + 16px);
    }
}

@media (max-width : 320px) {
    .header{
        margin: 16px 16px 0 16px;
    }
}


/* @media (max-width : 320px) {
    .header{
        margin-top: 16px;
        margin-right: 16px;
        margin-left: 16px;
    }
} */

.header__logo{
    width: 176px;
    height: 52px;
    margin: auto;
    margin-left: 0;
}

@media (max-width : 768px) {
    .header__logo{
        width: calc( (100vw - 320px)/(768 - 320) * (176 - 142) + 142px);
        height: calc( (100vw - 320px)/(768 - 320) * (52 - 42) + 42px);
        min-width: 142px;
        min-height: 42px; 
    }
}

.header__lang-link{
    margin:auto;
    margin-right: 0;
    margin-bottom: 0;
    list-style: none;
    display: inherit;
}

.lang-link{
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color:white;
    padding-left: 18px;
    text-decoration: underline;
    transition: opacity 0.4s ease;
}

@media (max-width : 767px) {
    .lang-link{
        font-size: calc( (100vw - 320px)/(767 - 321) * (24 - 18) + 18px);
        line-height: calc( (100vw - 320px)/(767 - 321) * (28 - 24) + 24px);
    }
}

@media (max-width : 320px) {
    .lang-link{
        font-size: 18px;
        line-height: 24px;
    }
}


.lang-link:hover{
    opacity: 0.8;
}

.lang-link:nth-of-type(2) {
    text-decoration: none;
}


.content{

}

.lead{
    margin: auto 148px;
    margin-top: 56px;
}

@media (max-width : 1280px) {
    .lead{
        margin-top: calc( (100vw - 1024px)/(1280 - 1024) * (56 - 48) + 48px);
        margin-right: calc( (100vw - 1024px)/(1280 - 1024) * (148 - 48) + 48px);
        margin-left: calc( (100vw - 1024px)/(1280 - 1024) * (148 - 48) + 48px);
    }
}

@media (max-width : 1023px) {
    .lead{
        margin-top: 48px;
        margin-right: calc( (100vw - 768px)/(1023 - 768) * (48 - 0) + 0px);
        margin-left: calc( (100vw - 768px)/(1023 - 768) * (48 - 0) + 0px);
    }
}

@media (max-width : 767px) {
    .lead{
        margin-right: 0;
        margin-left: 0;
    }
}

.lead__title{
    margin: auto;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
}

@media (max-width : 767px) {
    .lead__title{
        font-size: calc( (100vw - 320px)/(767 - 320) * (96 - 40) + 40px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (96 - 44) + 44px);
        min-width: 95%;    
    }
}

@media (max-width : 319px) {
    .lead__title{
        font-size: 40px;
        line-height: 44px;
    
    }
}

.lead__subtitle{
    margin: auto;
    margin-top: 32px;
    max-width: 640px;
    font-size: 30px;
    line-height: 120%;
    font-weight: normal;
    text-align: center;
}

@media (max-width : 767px) {
    .lead__subtitle{
        font-size: calc( (100vw - 320px)/(767 - 320) * (30 - 16) + 16px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (36 - 20) + 20px);
        margin-top: calc( (100vw - 320px)/(767 - 320) * (32 - 16) + 16px);
        margin-right: calc( (100vw - 320px)/(767 - 320) * (64 - 16) + 16px);
        margin-left: calc( (100vw - 320px)/(767 - 320) * (64 - 16) + 16px);
    }
}

@media (max-width : 319px) {
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    
    }
}

.lead__image{
    margin:auto;
    margin-top: 64px;
    width: 100%;
    max-height: 615px;
    object-fit: cover;
} 

@media (max-width : 1280px) {
    .lead__image{
        margin-top: calc( (100vw - 1024px)/(1280 - 1024) * (64 - 56) + 56px);
    }
}

@media (max-width : 1023px) {
    .lead__image{
        margin-top: 56px;
    
    }
}

@media (max-width : 767px) {
    .lead__image{
        margin-top: calc( (100vw - 320px)/(767 - 320) * (56 - 40) + 40px);
    }
}

.lead__caption{
    margin:auto;
    margin-top: 8px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
}

@media (max-width : 1023px) {
    .lead__caption{
        margin-left: calc( (100vw - 768px)/(1023 - 768) * (0 - 24) + 24px);
    
    }
}

@media (max-width : 767px) {
    .lead__caption{
        margin-left: calc( (100vw - 320px)/(767 - 320) * (24 - 16) + 16px);
    }
}


.intro{
    margin: auto 148px;
    margin-top:92px;
}

@media (max-width : 1280px) {
    .intro{
        margin-left: calc( (100vw - 1024px)/(1280 - 1024) * (148 - 48) + 48px);
    }
}

@media (max-width : 1023px) {
    .intro{
        margin-top: calc( (100vw - 768px)/(1023 - 768) * (92 - 88) + 88px);
        margin-right: calc( (100vw - 768px)/(1023 - 768) * (48 - 24) + 24px);
        margin-left: calc( (100vw - 768px)/(1023 - 768) * (48 - 24) + 24px);
    }
}

@media (max-width : 767px) {
        .intro{
            margin-top: calc( (100vw - 320px)/(767 - 320) * (88 - 64) + 64px);
            margin-right: calc( (100vw - 320px)/(767 - 320) * (24 - 16) + 16px);
            margin-left: calc( (100vw - 320px)/(767 - 320) * (24 - 16) + 16px);
    }
}

.intro__title{
    margin: auto;
    margin-left: 0;
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    text-align: start;

}

.intro__text {
    margin:auto;
    margin-top: 40px;
    margin-left: 0;
    max-width: 690px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.intro__list{
    margin:auto;
    margin-top: 32px;
    margin-left: 0;
    max-width: 690px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.photo-grid{
    margin: auto 48px;
    margin-top:92px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.photo-grid__item{
    max-width: 100%;
    min-height: 213px;
    object-fit: cover;
    object-position: top;


}





.places{
    margin: auto 148px;
    margin-top:92px;
}

.place{
    margin-top:80px;
    display: grid;
    grid-template-columns: minmax(320px,460px) minmax(288px,484px);
    grid-template-rows: minmax(35px,max-content) max-content;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    grid-template-areas:
    "title website"
    "image text";
}

.place__title{
    grid-area: title;
    margin: 0;
    height: max-content;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

.place__image{
    grid-area: image;
    width: 100%;
    margin:0;
}

.place__website {
    grid-area: website;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
}

.place__url-heading {
    height: max-content;
    width: 100%;
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
}

.place__link {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: opacity 0.4s ease;
}

.place__link:hover{
    opacity: 0.8;
}

.place__text {
    grid-area: text;
    margin: 0;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.place__text_paragraph {
    margin:auto;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.cover{
    margin: auto 48px;
    margin-top: 92px;
    
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.cover__overlay{
    height: 740px;
    width: 100%;
    background-color: rgba(16,17,18,0.3);
    transition: background-color 0.4s ease;
}

.cover__overlay:hover{
    background-color: rgba(16,17,18,0.8);
}

.cover__title{
    margin: auto;
    padding-top: 245px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    transition: opacity 0.4s ease;
}

.cover__title:hover{
    opacity: 0.8;
}

.cover__title-link{
    text-decoration: none;
    color: white;
}

.cover__subtitle{
    margin: auto;
    margin-top: 32px;
    max-width: 360px;
    height: max-content;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.footer{
    margin:92px 48px 24px 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer__links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__link{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    text-decoration: none;
    color: white;
    transition: opacity 0.4s ease;
}

.footer__link:hover{
    opacity: 0.8;
}

.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin: auto;
    margin-right: 0;
}