.place__text-paragraph {
    margin:auto;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.place__text-paragraph:nth-of-type(2){
    margin-bottom: 0;
}

@media (max-width : 1023px) {
    .place__text-paragraph{
        font-size: calc( (100vw - 768px)/(1023 - 768) * (18 - 16) + 16px);
        line-height: calc( (100vw - 768px)/(1023 - 768) * (30 - 26) + 26px);;
    }
}

@media (max-width : 767px) {
    .place__text-paragraph{
        font-size: 16px;
        line-height: 26px;
        margin-left: calc( (100vw - 320px)/(767 - 320) * (0 - 16) + 16px);
        margin-right: calc( (100vw - 320px)/(767 - 320) * (0 - 16) + 16px);
}
}