.cover__title{
    margin: auto;
    padding-top: 245px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    transition: opacity 0.4s ease;
}

.cover__title:hover{
    opacity: 0.8;
}

@media (max-width : 1280px) {
    .cover__title{
        padding-top: calc( (100vw - 1024px)/(1280 - 1024) * (245 - 195) + 195px);
    }
}

@media (max-width : 1023px) {
    .cover__title{
        padding-top: calc( (100vw - 768px)/(1023 - 768) * (195 - 115) + 115px);
    }
}

@media (max-width : 767px) {
    .cover__title{
        padding-top: calc( (100vw - 320px)/(767 - 320) * (115 - 33) + 33px);
        font-size: calc( (100vw - 320px)/(767 - 320) * (72 - 32) + 32px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (76 - 35) + 35px);
}
}