.place__url-heading {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
}